---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="3D 2D Animation"
  description="3D 2D Animation"
  image="/images/about-og.jpg"
  current="2d-3d-animation"
   additionalStyles="/css/2d-3d-animation.css"
>
<div class="center-spacer">
    <h1>3D 2D Animation</h1>
</div>

</BaseLayout>
