---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="Product"
  description="Learn more about our company, team, and mission."
  image="/images/about-og.jpg"
  current="about"
   additionalStyles="/css/about.css"
>

<div class="center-spacer">
  <h1>PRODUCTS</h1>
</div>

</BaseLayout>
