---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Services" current="services">
    <div class="center-spacer">

        <h1>Services</h1>
        <p>We offer consulting, migration and build services for static sites to Astro.</p>
        
        
        <h2>Our Offerings</h2>
        <ul>
        <li>Migration planning & execution</li>
        <li>SEO & performance tuning</li>
        <li>Custom component development</li>
        </ul>
    </div>
</BaseLayout>