---

---

<!-- ======= FOOTER ======= -->
<footer>
  <div class="foot-con">
    <div class="colm colm-logo animate-item from-left ">
      <a href="/">
        <div class="logo">
          <img src="/images/fisto_white.png" loading="lazy" alt="footerlogo" title="footerlogo" width="100%"
            height="auto" />
        </div>
      </a>
      <p>
        <a href="https://maps.app.goo.gl/xh5JLBodV3ANruTH6" target="_blank"
          style="text-decoration: none; color: inherit;">
          <i class="far fa-address-book"></i> &nbsp;&nbsp; 10/11, Trichy Rd, <br />
          Sundaram Brothers Layout, Ramanathapuram,<br />
          Coimbatore - 641045,<br />
          Tamil Nadu
        </a>
      </p>


      <!--  <p>We are a Team, who works delicately towards customer satisfaction and is consistent in quality delivery on time. Imagine a world in which you make your imagination meets reality.</p>
      -->
      <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=100084631685222" title="Facebook" target="_blank">
          <i class="fa-brands fa-facebook-f"></i><span class="sr-only">Fisto Tech Private Limited Facebook</span>
        </a>
        <a href="https://www.instagram.com/fisto_ar?igsh=OWlzNm4ydGV6b2di" title="Instagram" target="_blank">
          <i class="fa-brands fa-instagram"></i><span class="sr-only">Fisto Tech Private Limited Instagram</span>
        </a>
        <a href="https://www.linkedin.com/company/82545817" title="LinkedIn" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i><span class="sr-only">Fisto Tech Private Limited LinkedIn</span>
        </a>
        <a href="https://www.youtube.com/@fist-oar7424" title="YouTube" target="_blank">
          <i class="fa-brands fa-youtube"></i><span class="sr-only">Fisto Tech Private Limited YouTube</span>
        </a>
        <a href="https://x.com/fistoar" title="Twitter" target="_blank">
          <i class="fa-brands fa-x-twitter"></i><span class="sr-only">Fisto Tech Private Limited Twitter</span>
        </a>
      </div>
    </div>

    <!-- <div class="colm animate-item from-left">
        <h4>Address <div class="underline"><span></span></div>
        </h4>
        <p>
          <i class="far fa-address-book"></i> &nbsp;
          <a href="https://maps.app.goo.gl/xh5JLBodV3ANruTH6" target="_blank"
            style="text-decoration: none; color: inherit;">
            10/11, Trichy Rd, <br>
            Sundaram Brothers Layout, Ramanathapuram,<br>
            Coimbatore - 641045,<br>
            Tamil Nadu
          </a>
        </p>


      </div> -->

    <div class="colm animate-item from-left ">
      <h4>Services <div class="underline"><span></span></div>
      </h4>
      <ul>
        <li><a href="./ar_vr_mr_development.html">AR/VR/MR Development</a></li>
        <li><a href="./2d_3d_animation.html">2D/3D Animation</a></li>
        <li><a href="./idc.html">Interactive Digital Catalogue</a></li>
        <li>
          <a href="./application_development.html">Application Development</a>
        </li>
        <li><a href="./website.html">Website Design</a></li>
      </ul>
    </div>

    <div class="colm-2 animate-item from-left">
  <h4>Contact <div class="underline"><span></span></div></h4>

  <div class="contact-grid">
    <div class="contact-flex">
      <p>Technical Support</p>
      <div class="div-spacer"></div>
      <div class="flex-col">
        <p>
          <i class="far fa-envelope"></i>
          <a href="mailto:info@fist-o.com" style="color: white; text-decoration: underline;">info@fist-o.com</a>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <a href="tel:+919994425147" style="color: white;">+91 999 442 5147</a>
        </p>
      </div>
    </div>

    <div class="contact-flex">
      <p><span class="space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Customer Support</p>
      <div class="div-spacer"></div>
      <div class="flex-col">
        <p>
          <i class="far fa-envelope"></i>
          <a href="mailto:support@fist-o.com" style="color: white; text-decoration: underline;">support@fist-o.com</a>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <a href="tel:+917530025147" style="color: white;">+91 753 002 5147</a>
        </p>
      </div>
    </div>

    <div class="contact-flex">
      <p>Human Resources</p>
      <div class="div-spacer"></div>
      <div class="flex-col">
        <p>
          <i class="far fa-envelope"></i>
          <a href="mailto:hr@fist-o.com" style="color: white; text-decoration: underline;">hr@fist-o.com</a>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <a href="tel:+919789325147" style="color: white;">+91 978 932 5147</a>
        </p>
      </div>
    </div>

    <div class="contact-flex">
      <p>Sales Enquiries &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <div class="div-spacer"></div>
      <div class="flex-col">
        <p>
          <i class="far fa-envelope"></i>
          <a href="mailto:sales@fist-o.com" style="color: white; text-decoration: underline;">sales@fist-o.com</a>
        </p>
        <p>
          <i class="fa fa-phone"></i>
          <a href="tel:+918888225147" style="color: white;">+91 888 822 5147</a>
        </p>
      </div>
    </div>
  </div>
</div>

    
    <!-- <div class="colm animate-item from-left">
        <h4>Mail me <div class="underline"><span></span></div>
        </h4>

        <p><i class="far fa-envelope"></i> <a href="mailto:info@fist-o.com"
            style="color: white; text-decoration: underline;">info@fist-o.com</a>
        </p>
        <p><i class="far fa-envelope"></i> <a href="mailto:support@fist-o.com"
            style="color: white; text-decoration: underline;">support@fist-o.com</a>
        </p>
        <p><i class="far fa-envelope"></i> <a href="mailto:hr@fist-o.com"
            style="color: white; text-decoration: underline;">hr@fist-o.com</a>
        </p>
      </div> -->

    <!-- <div class="colm animate-item from-left">
      <h4>Contact <div class="underline"><span></span></div></h4>

      <p>
        <i class="fa fa-phone"></i>
        <a href="tel:+919994425147" style="color: white; ">+91 999 442 5147</a>
      </p>
      <p>
        <i class="fa fa-phone"></i>
        <a href="tel:+917530025147" style="color: white; ">+91 753 002 5147</a>
      </p>
      <p>
        <i class="fa fa-phone"></i>
        <a href="tel:+919789325147" style="color: white; ">+91 978 932 5147</a>
      </p>
    </div> -->
  </div>

  <p class="copyright">
    Copyright © 2025 <a href="#">Fisto Tech Private Limited.</a> All Rights Reserved.
    <a href="https://www.fist-o.com/PrivacyPolicy.html" class="privacy-policy">Privacy Policy.</a>
    <span class="designed-by">Designed By <img src="/images/fisto_white.png" loading="lazy" alt="Designedbylogo"
        title="Designedbylogo" width="3%" height="auto" /></span>
  </p>
</footer>

<!--   
<footer>
  <p>&copy; 2025 Fist-o Tech Private Limited. All rights reserved.</p>
</footer> -->