---

---

<section id="pattern-app" class="section section--pattern-app">
  <div class="pattern-app__container">
    <div
      class="pattern-app__visual"
      data-aos="fade-right"
      data-aos-duration="1200"
      data-aos-delay="200"
    >
      <img
        src="/images/pattern-app/pattern-image.webp"
        alt="Pattern App Interface"
        class="pattern-app__image"
      />
    </div>

    <div class="pattern-app__content">
      <h2
        class="pattern-app__title"
        data-aos="fade-down"
        data-aos-duration="800"
      >
        <span class="highlight">3D MOCKUP</span> APP
      </h2>
      <hr
        class="pattern-app__divider"
        data-aos="zoom-in"
        data-aos-delay="100"
      />
      <h3
        class="pattern-app__subtitle"
        data-aos="fade-left"
        data-aos-delay="200"
        data-aos-duration="1000"
      >
        Customizable <span class="highlight">3D Mockup</span> App
      </h3>
      <p
        class="pattern-app__desc"
        data-aos="fade-left"
        data-aos-delay="300"
        data-aos-duration="1000"
      >
        Create, personalize, and preview packaging in real time with powerful
        branding and design tools.
      </p>

      <ul class="pattern-app__features">
        <li data-aos="fade-up" data-aos-delay="0">
          <div class="pattern-app__icon">
            <svg
              width="47"
              height="50"
              viewBox="0 0 47 50"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0 15.3633V37.286L21.375 49.875V28.0547L0 15.3633ZM24.9375 49.875L46.3125 37.286V15.3633L24.9375 28.0547V49.875ZM44.5312 12.4688L23.1562 0L1.78125 12.4688L23.1562 24.9375L44.5312 12.4688Z"
                fill="#FFC506"></path>
            </svg>
          </div>
          <span>Real-Time 3D Product Visualization</span>
        </li>
        <li data-aos="fade-up" data-aos-delay="80">
          <div class="pattern-app__icon">
            <svg
              width="57"
              height="57"
              viewBox="0 0 57 57"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1668_569)">
                <path
                  d="M17.1 20.9L18.62 22.04C18.8317 21.7577 18.9606 21.4221 18.9923 21.0707C19.024 20.7192 18.9572 20.3659 18.7994 20.0503C18.6416 19.7347 18.399 19.4693 18.0989 19.2838C17.7987 19.0983 17.4529 19 17.1 19V20.9ZM11.4 28.5L9.88 27.36C9.66829 27.6423 9.53937 27.978 9.50768 28.3294C9.47599 28.6808 9.54279 29.0341 9.70059 29.3497C9.85839 29.6653 10.101 29.9308 10.4011 30.1163C10.7013 30.3018 11.0471 30.4 11.4 30.4V28.5ZM7.6 22.8H17.1V19H7.6V22.8ZM15.58 19.76L9.88 27.36L12.92 29.64L18.62 22.04L15.58 19.76ZM11.4 30.4H13.3V26.6H11.4V30.4ZM13.3 34.2H7.6V38H13.3V34.2ZM15.2 32.3C15.2 32.8039 14.9998 33.2872 14.6435 33.6435C14.2872 33.9998 13.8039 34.2 13.3 34.2V38C14.8117 38 16.2616 37.3995 17.3305 36.3305C18.3995 35.2616 19 33.8118 19 32.3H15.2ZM13.3 30.4C13.8039 30.4 14.2872 30.6002 14.6435 30.9565C14.9998 31.3128 15.2 31.7961 15.2 32.3H19C19 30.7883 18.3995 29.3385 17.3305 28.2695C16.2616 27.2006 14.8117 26.6 13.3 26.6V30.4ZM30.4 19H28.5V22.8H30.4V19ZM22.8 24.7V28.5H26.6V24.7H22.8ZM22.8 28.5V32.3H26.6V28.5H22.8ZM28.5 26.6H24.7V30.4H28.5V26.6ZM34.2 32.3C34.2 30.7883 33.5995 29.3385 32.5305 28.2695C31.4616 27.2006 30.0117 26.6 28.5 26.6V30.4C29.0039 30.4 29.4872 30.6002 29.8435 30.9565C30.1998 31.3128 30.4 31.7961 30.4 32.3H34.2ZM28.5 38C30.0117 38 31.4616 37.3995 32.5305 36.3305C33.5995 35.2616 34.2 33.8118 34.2 32.3H30.4C30.4 32.8039 30.1998 33.2872 29.8435 33.6435C29.4872 33.9998 29.0039 34.2 28.5 34.2V38ZM28.5 34.2C27.9961 34.2 27.5128 33.9998 27.1565 33.6435C26.8002 33.2872 26.6 32.8039 26.6 32.3H22.8C22.8 33.8118 23.4005 35.2616 24.4695 36.3305C25.5384 37.3995 26.9883 38 28.5 38V34.2ZM28.5 19C26.9883 19 25.5384 19.6006 24.4695 20.6695C23.4005 21.7385 22.8 23.1883 22.8 24.7H26.6C26.6 24.1961 26.8002 23.7128 27.1565 23.3565C27.5128 23.0002 27.9961 22.8 28.5 22.8V19ZM45.6 24.7V32.3H49.4V24.7H45.6ZM41.8 32.3V24.7H38V32.3H41.8ZM43.7 34.2C43.1961 34.2 42.7128 33.9998 42.3565 33.6435C42.0002 33.2872 41.8 32.8039 41.8 32.3H38C38 33.8118 38.6005 35.2616 39.6695 36.3305C40.7384 37.3995 42.1883 38 43.7 38V34.2ZM45.6 32.3C45.6 32.8039 45.3998 33.2872 45.0435 33.6435C44.6872 33.9998 44.2039 34.2 43.7 34.2V38C45.2117 38 46.6616 37.3995 47.7305 36.3305C48.7995 35.2616 49.4 33.8118 49.4 32.3H45.6ZM43.7 22.8C44.2039 22.8 44.6872 23.0002 45.0435 23.3565C45.3998 23.7128 45.6 24.1961 45.6 24.7H49.4C49.4 23.1883 48.7995 21.7385 47.7305 20.6695C46.6616 19.6006 45.2117 19 43.7 19V22.8ZM43.7 19C42.1883 19 40.7384 19.6006 39.6695 20.6695C38.6005 21.7385 38 23.1883 38 24.7H41.8C41.8 24.1961 42.0002 23.7128 42.3565 23.3565C42.7128 23.0002 43.1961 22.8 43.7 22.8V19ZM28.5 53.2C21.9492 53.2 15.6666 50.5977 11.0345 45.9656C6.40231 41.3334 3.8 35.0509 3.8 28.5H0C0 36.0587 3.00267 43.3078 8.34746 48.6526C13.6922 53.9974 20.9413 57 28.5 57V53.2ZM53.2 28.5C53.2 31.7437 52.5611 34.9556 51.3198 37.9523C50.0785 40.949 48.2591 43.672 45.9655 45.9656C43.6719 48.2592 40.949 50.0786 37.9523 51.3198C34.9555 52.5611 31.7437 53.2 28.5 53.2V57C36.0587 57 43.3078 53.9974 48.6525 48.6526C53.9973 43.3078 57 36.0587 57 28.5H53.2ZM28.5 2.16142e-05C20.9413 2.16142e-05 13.6922 3.00269 8.34746 8.34748C3.00267 13.6923 0 20.9414 0 28.5H3.8C3.8 21.9492 6.40231 15.6666 11.0345 11.0345C15.6666 6.40234 21.9492 3.80002 28.5 3.80002V2.16142e-05ZM51.3 11.4C51.8039 11.4 52.2872 11.6002 52.6435 11.9565C52.9998 12.3128 53.2 12.7961 53.2 13.3H57C57 11.7883 56.3995 10.3385 55.3305 9.26951C54.2616 8.20056 52.8117 7.60002 51.3 7.60002V11.4ZM51.3 15.2C50.7961 15.2 50.3128 14.9998 49.9565 14.6435C49.6002 14.2872 49.4 13.8039 49.4 13.3H45.6C45.6 14.8118 46.2005 16.2616 47.2695 17.3305C48.3384 18.3995 49.7883 19 51.3 19V15.2ZM49.4 13.3C49.4 12.8326 49.5672 12.407 49.8484 12.0726L46.949 9.61782C46.1092 10.6096 45.6 11.8978 45.6 13.3H49.4ZM49.8484 12.0726C50.0269 11.8617 50.2492 11.6923 50.5 11.5761C50.7507 11.4599 51.0237 11.3998 51.3 11.4V7.60002C49.552 7.60002 47.9902 8.38662 46.949 9.61782L49.8484 12.0726ZM28.5 3.80002C35.8492 3.80002 42.4498 7.00722 46.9756 12.1068L49.818 9.58362C47.147 6.56635 43.865 4.15149 40.1896 2.49922C36.5143 0.846955 32.5297 -0.00494755 28.5 2.16142e-05V3.80002ZM50.7452 17.746C52.3184 20.9988 53.2 24.643 53.2 28.5H57C57 24.054 55.9816 19.8474 54.1652 16.093L50.7452 17.746ZM53.2 13.3C53.2005 13.7034 53.0727 14.0965 52.8349 14.4224C52.5972 14.7482 52.2619 14.99 51.8776 15.1126L53.0328 18.7302C54.1844 18.3627 55.1894 17.6386 55.9025 16.6625C56.6157 15.6864 57 14.5089 57 13.3H53.2ZM51.8776 15.1126C51.6907 15.1714 51.4959 15.2008 51.3 15.2V19C51.8879 19.0012 52.4724 18.9077 53.0328 18.7302L51.8776 15.1126Z"
                  fill="#FFC506"></path>
              </g>
              <defs>
                <clipPath id="clip0_1668_569"
                  ><rect width="57" height="57" fill="white"></rect></clipPath
                >
              </defs>
            </svg>
          </div>
          <span>360° Product View &amp; Rotation</span>
        </li>
        <li data-aos="fade-up" data-aos-delay="160">
          <div class="pattern-app__icon">
            <svg
              width="38"
              height="37"
              viewBox="0 0 38 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.75 36.9907C3.44375 36.9907 2.32592 36.526 1.3965 35.5965C0.467083 34.6671 0.00158333 33.5485 0 32.2407V27.4907C0 26.8177 0.228 26.2541 0.684 25.7997C1.14 25.3452 1.70367 25.1172 2.375 25.1157C3.04633 25.1141 3.61079 25.3421 4.06837 25.7997C4.52596 26.2572 4.75317 26.8209 4.75 27.4907V32.2407H33.25V27.4907C33.25 26.8177 33.478 26.2541 33.934 25.7997C34.39 25.3452 34.9537 25.1172 35.625 25.1157C36.2963 25.1141 36.8608 25.3421 37.3184 25.7997C37.776 26.2572 38.0032 26.8209 38 27.4907V32.2407C38 33.5469 37.5353 34.6655 36.6059 35.5965C35.6765 36.5275 34.5578 36.9922 33.25 36.9907H4.75ZM16.625 8.13441L12.1719 12.5875C11.6969 13.0625 11.1332 13.2905 10.4809 13.2715C9.82854 13.2525 9.26408 13.0047 8.7875 12.5282C8.35208 12.0532 8.12408 11.499 8.1035 10.8657C8.08292 10.2323 8.31092 9.67816 8.7875 9.20316L17.3375 0.653161C17.575 0.415661 17.8323 0.247828 18.1094 0.149661C18.3865 0.0514942 18.6833 0.00161987 19 3.65389e-05C19.3167 -0.00154679 19.6135 0.0483276 19.8906 0.149661C20.1677 0.250994 20.425 0.418827 20.6625 0.653161L29.2125 9.20316C29.6875 9.67816 29.9155 10.2323 29.8965 10.8657C29.8775 11.499 29.6495 12.0532 29.2125 12.5282C28.7375 13.0032 28.1738 13.251 27.5215 13.2715C26.8692 13.2921 26.3047 13.0641 25.8281 12.5875L21.375 8.13441V25.1157C21.375 25.7886 21.147 26.353 20.691 26.809C20.235 27.265 19.6713 27.4922 19 27.4907C18.3287 27.4891 17.765 27.2611 17.309 26.8067C16.853 26.3522 16.625 25.7886 16.625 25.1157V8.13441Z"
                fill="#FFC506"></path>
            </svg>
          </div>
          <span>Custom Design Upload &amp; Preview</span>
        </li>
        <li data-aos="fade-up" data-aos-delay="240">
          <div class="pattern-app__icon">
            <svg
              width="43"
              height="43"
              viewBox="0 0 43 43"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M34.4375 21.375C33.4927 21.375 32.5865 20.9997 31.9184 20.3316C31.2503 19.6635 30.875 18.7573 30.875 17.8125C30.875 16.8677 31.2503 15.9615 31.9184 15.2934C32.5865 14.6253 33.4927 14.25 34.4375 14.25C35.3823 14.25 36.2885 14.6253 36.9566 15.2934C37.6247 15.9615 38 16.8677 38 17.8125C38 18.7573 37.6247 19.6635 36.9566 20.3316C36.2885 20.9997 35.3823 21.375 34.4375 21.375ZM27.3125 11.875C26.3677 11.875 25.4615 11.4997 24.7934 10.8316C24.1253 10.1635 23.75 9.25733 23.75 8.3125C23.75 7.36767 24.1253 6.46153 24.7934 5.79343C25.4615 5.12533 26.3677 4.75 27.3125 4.75C28.2573 4.75 29.1635 5.12533 29.8316 5.79343C30.4997 6.46153 30.875 7.36767 30.875 8.3125C30.875 9.25733 30.4997 10.1635 29.8316 10.8316C29.1635 11.4997 28.2573 11.875 27.3125 11.875ZM15.4375 11.875C14.4927 11.875 13.5865 11.4997 12.9184 10.8316C12.2503 10.1635 11.875 9.25733 11.875 8.3125C11.875 7.36767 12.2503 6.46153 12.9184 5.79343C13.5865 5.12533 14.4927 4.75 15.4375 4.75C16.3823 4.75 17.2885 5.12533 17.9566 5.79343C18.6247 6.46153 19 7.36767 19 8.3125C19 9.25733 18.6247 10.1635 17.9566 10.8316C17.2885 11.4997 16.3823 11.875 15.4375 11.875ZM8.3125 21.375C7.36767 21.375 6.46153 20.9997 5.79343 20.3316C5.12533 19.6635 4.75 18.7573 4.75 17.8125C4.75 16.8677 5.12533 15.9615 5.79343 15.2934C6.46153 14.6253 7.36767 14.25 8.3125 14.25C9.25733 14.25 10.1635 14.6253 10.8316 15.2934C11.4997 15.9615 11.875 16.8677 11.875 17.8125C11.875 18.7573 11.4997 19.6635 10.8316 20.3316C10.1635 20.9997 9.25733 21.375 8.3125 21.375ZM21.375 0C15.706 0 10.2692 2.252 6.26059 6.26059C2.252 10.2692 0 15.706 0 21.375C0 27.044 2.252 32.4808 6.26059 36.4894C10.2692 40.498 15.706 42.75 21.375 42.75C22.3198 42.75 23.226 42.3747 23.8941 41.7066C24.5622 41.0385 24.9375 40.1323 24.9375 39.1875C24.9375 38.2612 24.5812 37.43 24.0112 36.8125C23.465 36.1712 23.1087 35.34 23.1087 34.4375C23.1087 33.4927 23.4841 32.5865 24.1522 31.9184C24.8203 31.2503 25.7264 30.875 26.6712 30.875H30.875C34.0244 30.875 37.0449 29.6239 39.2719 27.3969C41.4989 25.1699 42.75 22.1494 42.75 19C42.75 8.5025 33.1787 0 21.375 0Z"
                fill="#FFC506"></path>
            </svg>
          </div>
          <span>Color, Material &amp; Texture Customization</span>
        </li>
        <li data-aos="fade-up" data-aos-delay="320">
          <div class="pattern-app__icon">
            <svg
              width="57"
              height="57"
              viewBox="0 0 57 57"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M51.0245 16.9217L29.5972 5.04671C29.2454 4.85209 28.8498 4.75 28.4477 4.75C28.0456 4.75 27.6501 4.85209 27.2982 5.04671L5.97547 16.8267C5.60505 17.0318 5.2962 17.3322 5.08091 17.6968C4.86562 18.0614 4.75171 18.477 4.75098 18.9004C4.75025 19.3238 4.86273 19.7397 5.07678 20.105C5.29082 20.4704 5.59863 20.7718 5.96835 20.9782L27.3956 32.9482C27.7487 33.1453 28.1463 33.249 28.5507 33.2494C28.9551 33.2498 29.3529 33.147 29.7065 32.9506L51.0292 21.0756C51.3996 20.8696 51.7082 20.5682 51.9228 20.2028C52.1375 19.8373 52.2504 19.4211 52.2499 18.9973C52.2494 18.5734 52.1355 18.1574 51.9201 17.7925C51.7046 17.4275 51.3953 17.1269 51.0245 16.9217Z"
                fill="#FFC506"></path>
              <path
                d="M28.5 37.6556L8.27683 26.4219L5.9707 30.5734L27.3457 42.4484C27.6984 42.6443 28.0953 42.7471 28.4988 42.7471C28.9023 42.7471 29.2991 42.6443 29.6518 42.4484L51.0268 30.5734L48.7207 26.4219L28.5 37.6556Z"
                fill="#FFC506"></path>
              <path
                d="M28.5 46.9069L8.27683 35.6732L5.9707 39.8247L27.3457 51.6997C27.6984 51.8956 28.0953 51.9984 28.4988 51.9984C28.9023 51.9984 29.2991 51.8956 29.6518 51.6997L51.0268 39.8247L48.7207 35.6732L28.5 46.9069Z"
                fill="#FFC506"></path>
            </svg>
          </div>
          <span>AR &amp; VR Integration</span>
        </li>
      </ul>
    </div>
  </div>
</section>

<style>
  .section--pattern-app {
    min-height: unset;
    background: url("/images/pattern-app/pattern-app-bg.webp") center
      center/cover no-repeat;
    background-color: #071518;
    color: #ffffff;
    padding: 2.9rem clamp(1rem, 5vw, 4rem);
    flex-direction: column;
    overflow: hidden;
  }

  .pattern-app__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(1.4rem, 3.2vw, 2.5rem);
    max-width: 95%;
    width: 100%;
    margin: 0 auto;
  }

  .pattern-app__visual {
    flex: 0 1 55%;
    display: flex;
    justify-content: center;
  }

  .pattern-app__image {
    max-width: 80%;
    width: 80%;
    height: auto;
    object-fit: contain;
    transform: none;
  }

  .pattern-app__content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
  }

  .pattern-app__title {
    font-size: clamp(2.35rem, 3.3vw, 3rem);
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    line-height: 1.1;
    white-space: nowrap;
  }

  .pattern-app__divider {
    width: 100px;
    height: 4px;
    background: #22d3ee;
    border: none;
    margin-bottom: 1.35rem;
    border-radius: 2px;
  }

  .pattern-app__subtitle {
    font-size: clamp(1.35rem, 2.6vw, 2.2rem);
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 1rem;
    white-space: nowrap;
  }

  .pattern-app__subtitle .highlight {
    font-weight: 800;
  }

  .pattern-app__desc {
    font-size: clamp(1rem, 1.5vw, 1.15rem);
    color: rgba(255, 255, 255, 0.86);
    line-height: 1.6;
    margin-bottom: 1.35rem;
    font-weight: 400;
  }

  .pattern-app__features {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .pattern-app__features li {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    font-size: clamp(1.1rem, 1.8vw, 1.3rem);
    font-weight: 500;
    letter-spacing: 0.01em;
  }

  .pattern-app__icon {
    width: 30px;
    height: 30px;
    color: #22d3ee;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .pattern-app__icon svg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  @media screen and (max-width: 991px) {
    .pattern-app__container {
      flex-direction: column;
      text-align: center;
      gap: 3rem;
    }

    .pattern-app__content {
      align-items: center;
    }

    .pattern-app__title,
    .pattern-app__subtitle,
    .pattern-app__desc {
      text-align: center;
      white-space: normal;
    }

    .pattern-app__divider {
      margin: 1.5rem auto;
    }

    .pattern-app__features {
      width: fit-content;
      max-width: min(92%, 520px);
      margin-left: auto;
      margin-right: auto;
      align-items: flex-start;
    }

    .pattern-app__features li {
      text-align: left;
      justify-content: flex-start;
    }

    .pattern-app__visual {
      justify-content: center;
    }
  }
</style>
